html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  opacity: 0;
  // transition-duration: 500ms;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
