.container {
  // width: 100%;
  min-height: 100%;
  // height: 230px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 48px;
  @media screen and (min-width: 768px) {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 71px;
    padding-right: 71px;
  }
}
