<footer class="footer">
  <p class="footer__text">
    <span> © 2022 | All Rights Reserved |</span>
    <span class="divide">
      Developed with
      <svg class="favorite-img">
        <use href="../src/images/sprites/sprite.svg#favorite"></use>
        <animateTransform
          attributeName="transform"
          type="scale"
          values="1; 1.25; 1.35; 1.25; 1;"
          dur="1s"
          repeatCount="indefinite"
          additive="sum"
        ></animateTransform>
      </svg>
      by <a class="footer__link">GoIt Students</a>
    </span>
  </p>
</footer>
