.gallery {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gallery-list__item {
  display: block;
  width: 100%;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 768px) {
    width: 293px;
    margin: 15px;
  }
  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}

.gallery-list__item:hover {
  transform: scale(1.03);
}
.gallery-list__card {
  border-radius: 4px;
}
.info__card {
  color: var(--accent-color);
  padding: 10px;
}
.poster__card {
  overflow: hidden;
  border-radius: 4px;
}
.title__card {
  color: #000;
  text-transform: uppercase;
}
