.header {
  min-height: 230px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/hero/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/hero/bg@2x.jpg');
  }
}

.header__section {
  padding-bottom: 45px;
  @media screen and (min-width: 768px) {
    padding-bottom: 37px;
  }
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--second-text-color);
}

.navigation__list {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
}
.navigation__list-item:last-child {
  margin-left: 39px;
}
.navigation__list-item {
  cursor: pointer;
}
.is-current {
  border-bottom: 3px solid var(--accent-color);
}
.logo-img {
  margin-right: 10px;
}
.logo-name {
  display: none;
  width: 24px;
  height: 24px;
  @media screen and (min-width: 768px) {
    display: contents;
    font-size: 30px;
    line-height: 1.17px;
  }
  @media screen and (min-width: 1024px) {
  }
}
